<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucumber.market.api.mapper.item.ItemMapper">

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemDto.itemId">
        insert into item (member_id, item_name, item_info, donation_flag, price, category_id, price_negotiation_yn, post_date, view_count)
        values (#{memberId}, #{itemDto.itemName}, #{itemDto.itemInfo}, #{itemDto.donationFlag}, #{itemDto.price}, #{itemDto.categoryId}, #{itemDto.priceNegotiationYn}, #{itemDto.postDate}, 0)
    </insert>

    <select id="selectItem" resultType="resultMap">
        select *, (select count(*)
                    from favorite
                    where item_id = #{itemId}) as like_count
        from item
        where item_id = #{itemId}
    </select>

    <update id="updateViewCount">
        update item
        set view_count = view_count + 1
        where item_id = #{itemId}
    </update>

    <update id="updateItem">
        update item
        set item_name = #{itemDto.itemName},
        item_info = #{itemDto.itemInfo},
        update_date = #{itemDto.updateDate},
        donation_flag = #{itemDto.donationFlag},
        category_id = #{itemDto.categoryId},
        price_negotiation_yn = #{itemDto.priceNegotiationYn},
        price = #{itemDto.price}
        where item_id = #{itemId}
    </update>

    <update id="updateItemStatus">
        update item
        set item_status_id = #{itemStatus}
        where item_id = #{itemId}
    </update>

    <select id="selectAllItems" resultType="resultMap">
        SELECT *, (select count(*)
                    from favorite
                    where item.item_id = favorite.item_id) as like_count
        FROM item
        WHERE member_id IN (
            SELECT member_id
            FROM member
            WHERE region_id IN (
                SELECT region_id
                FROM (
                        SELECT region_id, (6371*ACOS(COS(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))
                                    *COS(RADIANS(lati_tude))*COS(RADIANS(longi_tude)-RADIANS((SELECT longi_tude FROM region WHERE region_id = #{regionId})))
                                    +SIN(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))*SIN(RADIANS(lati_tude))))
                                    AS distance
                        FROM region) AS a
                        <![CDATA[
                        WHERE distance <= 6
                        ]]>
                )
            )
    </select>

    <select id="selectItems" resultType="resultMap">
        SELECT *, (select count(*)
                    from favorite
                    where item.item_id = favorite.item_id) as like_count
        FROM item
        WHERE member_id IN (
            SELECT member_id
            FROM member
            WHERE region_id IN (
                SELECT region_id
                FROM (
                        SELECT region_id, (6371*ACOS(COS(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))
                                    *COS(RADIANS(lati_tude))*COS(RADIANS(longi_tude)-RADIANS((SELECT longi_tude FROM region WHERE region_id = #{regionId})))
                                    +SIN(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))*SIN(RADIANS(lati_tude))))
                                    AS distance
                        FROM region) AS a
                        <![CDATA[
                        WHERE distance <= 6
                        ]]>
                )
            )
        <if test="itemName != null and itemName != ''">
            AND item_name LIKE CONCAT('%',#{itemName},'%')
        </if>
        <if test="itemStatus != null">
            AND item_status_id = #{itemStatus}
        </if>
    </select>

    <delete id="deleteItem">
        delete from item
        where item_id = #{itemId}
    </delete>

    <insert id="insertLike">
        insert into favorite (item_id, member_id)
        values (#{itemId}, #{memberId})
    </insert>

    <select id="selectLike" resultType="resultMap">
        select *
        from favorite
        where item_id = #{itemId}
        and member_id = #{memberId}
    </select>

    <delete id="deleteLike">
        delete from favorite
        where item_id = #{itemId}
        and member_id = #{memberId}
    </delete>

    <insert id="insertBuyerReview">
        insert into buyer_review (item_id, member_id, review)
        values (#{itemId}, #{memberId}, #{reviewDto.review})
    </insert>

    <select id="selectBuyerReview" resultType="resultMap">
        select *
        from buyer_review
        where item_id = #{itemId}
    </select>

    <select id="selectBuyerReviews" resultType="resultMap">
        select *
        from buyer_review
        where item_id in (
                            select item_id
                            from item
                            where member_id = #{memberId}
        )
    </select>

    <update id="updateBuyerReview">
        update buyer_review
        set review = #{reviewDto.review}
        where item_id = #{itemId}
    </update>

    <delete id="deleteBuyerReview">
        delete from buyer_review
        where item_id = #{item_id}
    </delete>

    <insert id="insertSellerReview">
        insert into seller_review (item_id, review)
        values (#{itemId}, #{reviewDto.review})
    </insert>

    <select id="selectSellerReview" resultType="resultMap">
        select *
        from seller_review
        where item_id = #{itemId}
    </select>

    <select id="selectSellerReviews" resultType="resultMap">
        select *
        from seller_review
        where item_id in (
                            select item_id
                            from buyer_review
                            where member_id = #{memberId}
        )
    </select>

    <update id="updateSellerReview">
        update seller_review
        set review = #{reviewDto.review}
        where item_id = #{itemId}
    </update>

    <delete id="deleteSellerReview">
        delete from seller_review
        where item_id = #{item_id}
    </delete>

    <insert id="insertOrder">
        insert into purchase_request (item_id, member_id)
        values (#{itemId}, #{memberId})
    </insert>

    <select id="selectOrder" resultType="resultMap">
        select *
        from purchase_request
        where item_id = #{itemId}
        and member_id = #{memberId}
    </select>

    <select id="selectOrders" resultType="resultMap">
        select member.member_id, member.name
        from purchase_request as pr
        join member on pr.member_id = member.member_id
        where pr.item_id = #{itemId}
    </select>

    <delete id="deleteOrder">
        delete from purchase_request
        where item_id = #{itemId}
        and member_id = #{memberId}
    </delete>

</mapper>