<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucumber.market.api.mapper.item.ItemMapper">

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="itemDto.itemId">
        insert into item (member_id, item_name, item_info, donation_flag, price, category_id, price_negotiation_yn, post_date, view_count)
        values (#{memberId}, #{itemDto.itemName}, #{itemDto.itemInfo}, #{itemDto.donationFlag}, #{itemDto.price}, #{itemDto.categoryId}, #{itemDto.priceNegotiationYn}, #{itemDto.postDate}, 0)
    </insert>

    <select id="selectItem" resultMap="itemResultMap">
        SELECT
            i.item_id,
            i.item_name,
            i.item_info,
            i.post_date,
            i.update_date,
            i.donation_flag,
            i.price,
            i.category_id,
            i.price_negotiation_yn,
            i.item_status_id,
            i.view_count,
            (
                SELECT COUNT(*)
                FROM favorite f
                WHERE f.item_id = i.item_id
            ) AS like_count,
            m.member_id,
            m.name,
            m.manners_temperature,
            r.si_do,
            r.si_gun_gu,
            r.eup_myeon_dong_gu,
            r.eup_myeon_li_dong,
            r.li
        FROM item AS i
        JOIN member AS m
            ON m.member_id = i.member_id
        JOIN region AS r
            ON m.region_id = r.region_id
        WHERE i.item_id = #{itemId}
    </select>

    <resultMap id="itemResultMap" type="ItemDetail">
        <id column="item_id" property="itemId"/>
        <result column="item_name" property="itemName"/>
        <result column="item_info" property="itemInfo"/>
        <result column="post_date" property="postDate"/>
        <result column="update_date" property="updateDate"/>
        <result column="donation_flag" property="donationFlag"/>
        <result column="price" property="price"/>
        <result column="category_id" property="categoryId"/>
        <result column="price_negotiation_yn" property="priceNegotiationYn"/>
        <result column="item_status_id" property="itemStatusId"/>
        <result column="view_count" property="viewCount"/>
        <result column="like_count" property="likeCount"/>

        <association property="member" javaType="ItemSellerInfo">
            <id column="member_id" property="memberId"/>
            <result column="name" property="name"/>
            <result column="manners_temperature" property="mannersTemperature"/>
        </association>
        <association property="region" javaType="ItemSellerRegion">
            <result column="si_do" property="siDo"/>
            <result column="si_gun_gu" property="siGunGu"/>
            <result column="eup_myeon_dong_gu" property="eupMyeonDongGu"/>
            <result column="eup_myeon_li_dong" property="eupMyeonLiDong"/>
            <result column="li" property="li"/>
        </association>
    </resultMap>

    <select id="selectUserMainInfo" resultType="resultMap">
        select
                m.member_id,
                m.name,
                m.manners_temperature,
                r.si_do,
                r.si_gun_gu,
                r.eup_myeon_dong_gu,
                r.eup_myeon_li_dong,
                r.li
        from member as m
        join region as r on m.region_id = r.region_id
        where m.member_id = #{memberId}
    </select>

    <update id="updateViewCount">
        update item
        set view_count = view_count + 1
        where item_id = #{itemId}
    </update>

    <update id="updateItem">
        update item
        set item_name = #{itemDto.itemName},
        item_info = #{itemDto.itemInfo},
        update_date = #{itemDto.updateDate},
        donation_flag = #{itemDto.donationFlag},
        category_id = #{itemDto.categoryId},
        price_negotiation_yn = #{itemDto.priceNegotiationYn},
        price = #{itemDto.price}
        where item_id = #{itemId}
    </update>

    <update id="updateItemStatus">
        update item
        set item_status_id = #{itemStatus}
        where item_id = #{itemId}
    </update>

    <select id="selectAllItems" resultType="Item">
        select
        i.item_id,
        i.item_name,
        i.item_info,
        i.post_date,
        i.update_date,
        i.donation_flag,
        i.price,
        i.category_id,
        i.price_negotiation_yn,
        i.item_status_id,
        i.view_count,
        (select count(*) from favorite f where f.item_id = i.item_id) as like_count
        FROM item as i
        WHERE member_id IN (
            SELECT member_id
            FROM member
            WHERE region_id IN (
                SELECT region_id
                FROM (
                        SELECT region_id, (6371*ACOS(COS(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))
                                    *COS(RADIANS(lati_tude))*COS(RADIANS(longi_tude)-RADIANS((SELECT longi_tude FROM region WHERE region_id = #{regionId})))
                                    +SIN(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))*SIN(RADIANS(lati_tude))))
                                    AS distance
                        FROM region) AS a
                        <![CDATA[
                        WHERE distance <= 6
                        ]]>
                )
            )
    </select>

    <select id="selectItems" resultType="Item">
        select
        i.item_id,
        i.item_name,
        i.item_info,
        i.post_date,
        i.update_date,
        i.donation_flag,
        i.price,
        i.category_id,
        i.price_negotiation_yn,
        i.item_status_id,
        i.view_count,
        (select count(*) from favorite f where f.item_id = i.item_id) as like_count
        FROM item as i
        WHERE member_id IN (
            SELECT member_id
            FROM member
            WHERE region_id IN (
                SELECT region_id
                FROM (
                        SELECT region_id, (6371*ACOS(COS(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))
                                    *COS(RADIANS(lati_tude))*COS(RADIANS(longi_tude)-RADIANS((SELECT longi_tude FROM region WHERE region_id = #{regionId})))
                                    +SIN(RADIANS((SELECT lati_tude FROM region WHERE region_id = #{regionId})))*SIN(RADIANS(lati_tude))))
                                    AS distance
                        FROM region) AS a
                        <![CDATA[
                        WHERE distance <= 6
                        ]]>
                )
            )
        <if test="itemName != null and itemName != ''">
            AND item_name LIKE CONCAT('%',#{itemName},'%')
        </if>
        <if test="itemStatus != null">
            AND item_status_id = #{itemStatus}
        </if>
    </select>

    <delete id="deleteItem">
        delete from item
        where item_id = #{itemId}
    </delete>

    <insert id="insertBuyerReview">
        insert into buyer_review (item_id, member_id, review)
        values (#{itemId}, #{memberId}, #{reviewDto.review})
    </insert>

    <select id="selectBuyerReview" resultType="resultMap">
        select item.item_name, brv.review, brv.member_id
        from buyer_review as brv
        join item on item.item_id = brv.item_id
        where item.item_id = #{itemId}
    </select>

    <select id="selectBuyerReviews" resultType="resultMap">
        select rv.review, rv.member_id
        from buyer_review as rv
        join item on rv.item_id = item.item_id
        and item.member_id = #{memberId}
    </select>

    <update id="updateBuyerReview">
        update buyer_review
        set review = #{reviewDto.review}
        where item_id = #{itemId}
    </update>

    <delete id="deleteBuyerReview">
        delete from buyer_review
        where item_id = #{item_id}
    </delete>

    <insert id="insertSellerReview">
        insert into seller_review (item_id, review)
        values (#{itemId}, #{reviewDto.review})
    </insert>

    <select id="selectSellerReview" resultType="resultMap">
        select item.item_name, srv.review
        from seller_review as srv
        join item on item.item_id = srv.item_id
        where item.item_id = #{itemId}
    </select>

    <select id="selectSellerReviews" resultType="resultMap">
        select srv.review, (select member_id
                            from item
                            where item.item_id = srv.item_id) as member_id
        from seller_review as srv
        join buyer_review as brv on srv.item_id = brv.item_id
        and brv.member_id = #{memberId}
    </select>

    <update id="updateSellerReview">
        update seller_review
        set review = #{reviewDto.review}
        where item_id = #{itemId}
    </update>

    <delete id="deleteSellerReview">
        delete from seller_review
        where item_id = #{item_id}
    </delete>

</mapper>