<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucumber.market.api.mapper.region.RegionMapper">

    <insert id="insertRegionAdd">
        insert into cucumber.region
        (
            si_do,
            si_gun_gu,
            eup_myeon_dong_gu,
            eup_myeon_li_dong,
            li,
            lati_tude,
            longi_tude
        )
        values
        <foreach collection="list" item="item" separator=" , ">
            (
                #{item.siDo},
                #{item.siGunGu},
                #{item.eupMyeonDongGu},
                #{item.eupMyeonLiDong},
                #{item.li},
                #{item.latiTude},
                #{item.longiTude}
            )
        </foreach>
    </insert>
</mapper>