<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cucumber.market.api.mapper.user.UserMapper">
    <select id="selectCheckUserInfo" resultType="resultMap">
        select
            member.member_id,
            member.sns_id,
            sns.sns_name,
            member.name,
            member.email,
            member.region_id
        from cucumber.member as member
        join cucumber.sns as sns on member.sns_id = sns.sns_id
        where 1=1
            and member.sns_id = #{snsId}
            and member.sns_value = #{snsValue}
    </select>

    <insert id="insertUserInfo">
        insert into cucumber.member
        (
        sns_id,
        sns_value
        )
        values
        (
        #{snsId},
        #{snsValue}
        )
    </insert>

    <select id="selectUserInfo" resultType="resultMap">
        select
            member.member_id,
            member.sns_id,
            sns.sns_name,
            member.name,
            member.email,
            member.region_id,
            member.manners_temperature
        from cucumber.member as member
        join cucumber.sns as sns on member.sns_id = sns.sns_id
        where 1=1
            and member.member_id = #{memberId}
    </select>

    <update id="updateUserInfo">
        update cucumber.member
        set name = #{name},
            email = #{email},
            region_id = #{regionId}
        where 1=1
            and member_id = #{memberId}
            and sns_id = #{snsId}
    </update>

    <select id="selectSellerMannersTemperature" resultType="resultMap">
        select
            manners_temperature
        from cucumber.member
        where 1=1
            and member_id = #{memberId}
    </select>

    <update id="updateSellerMannersTemperature">
        update cucumber.member
        set manners_temperature = #{dto.incSellerMannersTemperature}
        where 1=1
            and member_id = #{memberId}
    </update>

    <select id="selectBuyerMannersTemperature" resultType="resultMap">
        select
            manners_temperature
        from cucumber.member
        where 1=1
          and member_id = #{dto.clientId}
    </select>

    <update id="updateBuyerMannersTemperature">
        update cucumber.member
        set manners_temperature = #{dto.incBuyerMannersTemperature}
        where 1=1
          and member_id = #{dto.clientId}
    </update>
</mapper>